<br><br><br><br><br><br>
<form class="form-horizontal" name="form" (ngSubmit)="save()">
  <fieldset>
  
  <!-- Form Name -->
  <legend class="leg">Upis doktora</legend>
  <br>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Ime</label>  
    <div class="col-md-4">
    <input type="text" class="form-control input-md" name="firstName" [(ngModel)]="user.firstName" placeholder="Ime doktora" autofocus>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label">Prezime</label>
    <div class="col-md-4">
      <input type="text" class="form-control input-md" name="lastName" [(ngModel)]="user.lastName" placeholder="Prezime doktora">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">Korisničko ime</label>
    <div class="col-md-4">
      <input type="text" class="form-control input-md" name="username" [(ngModel)]="user.username" placeholder="Korisničko ime">
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label">Ekspertiza</label>
    <div class="col-md-4">
      <input type="text" class="form-control input-md" name="expertise" [(ngModel)]="user.expertise" placeholder="Ekspertiza doktora">
    </div>
  </div>
  
  
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="btn_continuar"></label>
    <div class="col-md-4">
      <button type="submit" name="btn_continuar" class="btn btn-primary right">Upiši</button>
    </div>
  </div>
  
  </fieldset>
  </form>