<br><br><br><br><br><br>
<form class="form-horizontal" name="form" #f="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
  <legend class="leg">Promena lozinke</legend>
  <br>
  <div class="form-group">
    <label class="col-md-4 control-label">Trenutna lozinka</label>
    <div class="col-md-4">
      <input type="password" class="form-control" name="username" [(ngModel)]="user.currentPassword" 
            required #username="ngModel" autofocus>
      <small [hidden]="username.valid || (username.pristine && !f.submitted)" class="text-danger">
        Lozinka je obavezna.
      </small>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Nova lozinka</label>
    <div class="col-md-4">
      <input type="password" class="form-control" name="password" [(ngModel)]="user.newPassword" 
        required validateEqual="confirmPassword" reverse="true" #password="ngModel" minlength="6">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Lozinka je obavezna (minimum 6 karaktera).
      </small>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label">Ponovi lozinku</label>
    <div class="col-md-4">
      <input type="password" class="form-control" name="confirmPassword"[(ngModel)]="user.checkPassword" 
        required validateEqual="password" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Lozinke nisu iste
      </small>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" for="btn_continuar"></label>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary right" [disabled]="!f.valid">Promeni lozinku</button>
    </div>
  </div>
</form>