<br>
<form style="margin-left: -100px;" class="form-horizontal" name="form" (ngSubmit)="save()">
    <fieldset>
    
    <!-- Form Name -->
    <legend class="leg">Uspostavi dijagnozu</legend>
    <br>
    
    <div class="form-group">
      <label class="col-md-4 control-label">Dijagnoza  </label>
      <div class="col-md-4">
          <select class="form-control selectpicker" data-live-search="true" [(ngModel)]="disease" [ngModelOptions]="{standalone: true}" title="Bolesti.." >
              <option *ngFor="let c of diseases" [ngValue]="c">{{c.name}}</option>
          </select>
        </div>
    </div>  
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="btn_continuar"></label>
      <div class="col-md-4">
        <button type="submit" name="btn_continuar" class="btn btn-primary right">Sačuvaj</button>
      </div>
    </div>
    
    </fieldset>
</form>